/* ================================================= */
/* 2. PRODUCTOS Y CUADRÍCULA */
/* ================================================= */

.product-grid {
    display: grid;
    /* Crea 4 columnas de igual ancho y que se adapten al espacio */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
}

.product-card {
    background-color: #333333; /* Fondo oscuro para la tarjeta, respetando la paleta */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow: hidden; /* Asegura que la imagen no se salga de los bordes redondeados */
    text-align: left;
    transition: transform 0.2s;
    color: white; /* Texto claro */
}

.product-card:hover {
    transform: translateY(-5px); /* Pequeño efecto al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.product-img {
    width: 100%;
    height: 200px; /* Altura fija para las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border-bottom: 1px solid #444;
}

.product-info {
    padding: 15px;
}

.product-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
    /* Limita el título a dos líneas si es muy largo */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-description {
    font-size: 0.9em;
    color: #aaaaaa;
    margin-bottom: 10px;
    height: 36px; /* Altura fija para la descripción (ej: 2 líneas) */
    overflow: hidden;
}

.product-price {
    font-size: 1.4em;
    color: #6cf086; /* Color de acento verde/piña para el precio */
    font-weight: 700;
    margin-bottom: 15px;
}

.btn-add-cart {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Un color de botón contrastante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-add-cart:hover {
    background-color: #0056b3;
}


.sidebar h2 a {
  color: #fff;
  text-decoration: none;
}

.sidebar h2 a:visited {
  color: #fff;
}

.sidebar h2 a:hover,
.sidebar h2 a:active {
    color: white; /* Mantiene el color base */
    text-decoration: none; /* Mantiene sin línea */
}

/* ================================================= */


.sidebar ul a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul a:visited {
  color: #fff;
}

.sidebar ul a:hover,
.sidebar ul a:active {
    color: white; /* Mantiene el color base */
    text-decoration: none; /* Mantiene sin línea */
}